<a href="https://colab.research.google.com/github/JencyCS/DataScience/blob/main/prac2bc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sheth L.U.J and Sir M.V. College

Jency Nadar T095

In [ ]:
#Creating dataframe
import pandas as pd
dataframe = pd.DataFrame()

In [ ]:
#Describing the Data
df = pd.read_csv("IRIS.csv")
print(df.head(2))
print("Dimensions:", df.shape)
print(df.describe())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
Dimensions: (150, 5)
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#Navigating DataFrames

print(df.iloc[0])
print(df.iloc[1:4])
print(df.iloc[:4])

sepal_length            5.1
sepal_width             3.5
petal_length            1.4
petal_width             0.2
species         Iris-setosa
Name: 0, dtype: object
   sepal_length  sepal_width  petal_length  petal_width      species
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [ ]:
#SET INDEX
import pandas as pd
df = pd.read_csv("IRIS.csv")
df['species'] = df['species'].str.replace('Iris-', '', regex=False)
df = df.set_index("species")
print(df.loc["setosa"])

         sepal_length  sepal_width  petal_length  petal_width
species
setosa            5.1          3.5           1.4          0.2
setosa            4.9          3.0           1.4          0.2
setosa            4.7          3.2           1.3          0.2
setosa            4.6          3.1           1.5          0.2
setosa            5.0          3.6           1.4          0.2
setosa            5.4          3.9           1.7          0.4
setosa            4.6          3.4           1.4          0.3
setosa            5.0          3.4           1.5          0.2
setosa            4.4          2.9           1.4          0.2
setosa            4.9          3.1           1.5          0.1
setosa            5.4          3.7           1.5          0.2
setosa            4.8          3.4           1.6          0.2
setosa            4.8          3.0           1.4          0.1
setosa            4.3          3.0           1.1          0.1
setosa            5.8          4.0           1.2          0.2
setosa            5.7          4.4           1.5          0.4
setosa            5.4          3.9           1.3          0.4
setosa            5.1          3.5           1.4          0.3
setosa            5.7          3.8           1.7          0.3
setosa            5.1          3.8           1.5          0.3
setosa            5.4          3.4           1.7          0.2
setosa            5.1          3.7           1.5          0.4
setosa            4.6          3.6           1.0          0.2
setosa            5.1          3.3           1.7          0.5
setosa            4.8          3.4           1.9          0.2
setosa            5.0          3.0           1.6          0.2
setosa            5.0          3.4           1.6          0.4
setosa            5.2          3.5           1.5          0.2
setosa            5.2          3.4           1.4          0.2
setosa            4.7          3.2           1.6          0.2
setosa            4.8          3.1           1.6          0.2
setosa            5.4          3.4           1.5          0.4
setosa            5.2          4.1           1.5          0.1
setosa            5.5          4.2           1.4          0.2
setosa            4.9          3.1           1.5          0.1
setosa            5.0          3.2           1.2          0.2
setosa            5.5          3.5           1.3          0.2
setosa            4.9          3.1           1.5          0.1
setosa            4.4          3.0           1.3          0.2
setosa            5.1          3.4           1.5          0.2
setosa            5.0          3.5           1.3          0.3
setosa            4.5          2.3           1.3          0.3
setosa            4.4          3.2           1.3          0.2
setosa            5.0          3.5           1.6          0.6
setosa            5.1          3.8           1.9          0.4
setosa            4.8          3.0           1.4          0.3
setosa            5.1          3.8           1.6          0.2
setosa            4.6          3.2           1.4          0.2
setosa            5.3          3.7           1.5          0.2
setosa            5.0          3.3           1.4          0.2

In [ ]:
# Load required libraries
import pandas as pd
from sklearn.datasets import load_iris

# Load the iris dataset
data = load_iris()

# Create DataFrame
df = pd.DataFrame(data.data, columns=data.feature_names)

# Add species column
df["species"] = pd.Categorical.from_codes(data.target, data.target_names)

# --- Your filters ---

# Condition 1: species is setosa
setosa = df['species'] == 'setosa'

# Condition 2: sepal length >= 5
long_sepal = df['sepal length (cm)'] >= 5

# Print top 2 setosa rows
print("Top 2 setosa rows:")
print(df[setosa].head(2))

print("\nSetosa with sepal length >= 5:")
print(df[setosa & long_sepal])

Top 2 setosa rows:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

  species
0  setosa
1  setosa

Setosa with sepal length >= 5:
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                 5.1               3.5                1.4               0.2
4                 5.0               3.6                1.4               0.2
5                 5.4               3.9                1.7               0.4
7                 5.0               3.4                1.5               0.2
10                5.4               3.7                1.5               0.2
14                5.8               4.0                1.2               0.2
15                5.7               4.4                1.5               0.4
16                5.4               3.9                1.3               0.4
17                5.1               3.5                1.4               0.3
18                5.7               3.8                1.7               0.3
19                5.1               3.8                1.5               0.3
20                5.4               3.4                1.7               0.2
21                5.1               3.7                1.5               0.4
23                5.1               3.3                1.7               0.5
25                5.0               3.0                1.6               0.2
26                5.0               3.4                1.6               0.4
27                5.2               3.5                1.5               0.2
28                5.2               3.4                1.4               0.2
31                5.4               3.4                1.5               0.4
32                5.2               4.1                1.5               0.1
33                5.5               4.2                1.4               0.2
35                5.0               3.2                1.2               0.2
36                5.5               3.5                1.3               0.2
39                5.1               3.4                1.5               0.2
40                5.0               3.5                1.3               0.3
43                5.0               3.5                1.6               0.6
44                5.1               3.8                1.9               0.4
46                5.1               3.8                1.6               0.2
48                5.3               3.7                1.5               0.2
49                5.0               3.3                1.4               0.2

   species
0   setosa
4   setosa
5   setosa
7   setosa
10  setosa
14  setosa
15  setosa
16  setosa
17  setosa
18  setosa
19  setosa
20  setosa
21  setosa
23  setosa
25  setosa
26  setosa
27  setosa
28  setosa
31  setosa
32  setosa
33  setosa
35  setosa
36  setosa
39  setosa
40  setosa
43  setosa
44  setosa
46  setosa
48  setosa
49  setosa

In [ ]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'Sex': ['female', 'male', 'female', 'male', 'female']}
df = pd.DataFrame(data)

# Replace 'female' with 'Woman' and 'male' with 'Man'
df['Sex'] = df['Sex'].replace(['female', 'male'], ['Woman', 'Man'])

# Display the modified DataFrame
print(df.head(5))

     Sex
0  Woman
1    Man
2  Woman
3    Man
4  Woman

In [ ]:
import seaborn as sns
import pandas as pd

# Load the Titanic dataset
df = sns.load_dataset("titanic")

# Display the first few rows of the DataFrame
print(df.head())

# Renaming columns
df.rename(columns={'pclass': 'Passenger Class', 'sex': 'Gender'}, inplace=True)

# Check the data types
print(df.dtypes)

# Handle non-numeric values in the 'age' column
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Finding the Min, Max, Sum, Average, and Count for the 'age' column
print(f"Maximum Age: {df['age'].max()}")
print(f"Minimum Age: {df['age'].min()}")
print(f"Mean Age: {df['age'].mean()}")
print(f"Sum of Ages: {df['age'].sum()}")
print(f"Count of Ages: {df['age'].count()}")

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
survived              int64
Passenger Class       int64
Gender               object
age                 float64
sibsp                 int64
parch                 int64
fare                float64
embarked             object
class              category
who                  object
adult_male             bool
deck               category
embark_town          object
alive                object
alone                  bool
dtype: object
Maximum Age: 80.0
Minimum Age: 0.42
Mean Age: 29.69911764705882
Sum of Ages: 21205.17
Count of Ages: 714

In [ ]:
import seaborn as sns
import pandas as pd

# Load the Titanic dataset
df = sns.load_dataset("titanic")

# Check the available columns
print(df.columns)

# Rename the 'sex' column to 'Sex'
df = df.rename(columns={'sex': 'Sex'})

# Now you can use the 'Sex' column
print(df['Sex'].unique())
print(df['Sex'].value_counts())

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
['male' 'female']
Sex
male      577
female    314
Name: count, dtype: int64

In [ ]:
import seaborn as sns
import pandas as pd

# Load the Titanic dataset
df = sns.load_dataset("titanic")

# Check the available columns
print(df.columns)

# Drop a column that is present in the dataset
df = df.drop('sex', axis=1)

# Now you can use the remaining columns
print(df.head(2))

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
   survived  pclass   age  sibsp  parch     fare embarked  class    who  \
0         0       3  22.0      1      0   7.2500        S  Third    man
1         1       1  38.0      1      0  71.2833        C  First  woman

   adult_male deck  embark_town alive  alone
0        True  NaN  Southampton    no  False
1       False    C    Cherbourg   yes  False

In [ ]:
import seaborn as sns
import pandas as pd

# Load the Titanic dataset
df = sns.load_dataset("titanic")

# Print the columns of the DataFrame to check names
print(df.columns)

# Delete rows where 'sex' is 'male' (if 'gender' is not found)
df = df[df['sex'] != 'male']

# Display the first 2 rows of the modified DataFrame
print(df.head(2))

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third

     who  adult_male deck  embark_town alive  alone
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True